<mat-card class="mat-elevation-z8" style="margin: 10px;">
    <mat-card-header>
        <mat-card-title>Administración de horarios</mat-card-title>
        <mat-card-subtitle>Agregar horarios disponibles para consulta</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="7" rowHeight="400">
            <mat-grid-tile *ngFor="let dia of horarioDias">
                <div style="height: 100%;width: 100%;">
                    <mat-list>
                        <mat-list-item>
                            <h2>{{dia.horarioNombre}}</h2>
                        </mat-list-item>
                        <mat-list-item *ngFor="let item of dia.horarioEspecialista" style="height: 70px;margin-bottom: 5px;">
                            <button mat-raised-button color="accent" style="width: 100%;height: 100%;">
                                {{item.horarioTrabajo.horarioTrabajoDesde}}
                                <br>
                                {{item.horarioTrabajo.horarioTrabajoHasta.split('-')[1]}}
                            </button>
                        </mat-list-item>
                        <mat-list-item>
                            <button mat-raised-button color="primary" (click)="agregarHorario(dia.horarioId)">Agregar</button>
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="height: 100%;width: 100%;">
                    <mat-list>
                        <mat-list-item>
                            <h2>Lunes</h2>
                        </mat-list-item>
                        <mat-list-item *ngFor="let item of horarioLunes" style="height: 70px;margin-bottom: 5px;">
                            <button mat-raised-button color="accent" style="width: 100%;height: 100%;">
                                {{item.horarioNombre.split('-')[0]}}
                                <br>
                                {{item.horarioNombre.split('-')[1]}}
                            </button>
                        </mat-list-item>
                        <mat-list-item>
                            <button mat-raised-button color="primary" (click)="agregarHorario(0)">Agregar</button>
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="height: 100%;width: 100%;">
                    <mat-list>
                        <mat-list-item>
                            <h2>Martes</h2>
                        </mat-list-item>
                        <mat-list-item *ngFor="let item of horarioMartes" style="height: 70px;margin-bottom: 5px;">
                            <button mat-raised-button color="accent" style="width: 100%;height: 100%;">
                                {{item.horarioNombre.split('-')[0]}}
                                <br>
                                {{item.horarioNombre.split('-')[1]}}
                            </button>
                        </mat-list-item>
                        <mat-list-item>
                            <button mat-raised-button color="primary">Agregar</button>
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-grid-tile>
            
            
            
            
            
        </mat-grid-list>
    </mat-card-content>
</mat-card>